$step: 20px;
$maxContentWidth: $step * 32;
$previewBoxHeight: $step * 18;
$brandColor: #e62229;

@import 'abstract/Block';
@import 'abstract/BrandColor';
@import 'abstract/FallbackBackgroundColor';
@import 'abstract/FullWidthElement';
@import 'abstract/Heading';
@import 'abstract/HorizontalCenter';
@import 'abstract/List';
@import 'abstract/MaxContentWidth';
@import 'abstract/PreviewElement';
@import 'abstract/PreviewHeight';
@import 'abstract/TableCell';
@import 'abstract/ZenoMargin';

@import 'tags/a';
@import 'tags/body';
@import 'tags/h1';
@import 'tags/h2';
@import 'tags/h3';
@import 'tags/h4';
@import 'tags/html';
@import 'tags/main';
@import 'tags/ol';
@import 'tags/p';
@import 'tags/table';
@import 'tags/td';
@import 'tags/th';
@import 'tags/ul';

@import 'components/BigImage';
@import 'components/BoxesFormats';
@import 'components/GoogleMaps';

@import 'proprietary/markdown-toc';
