<svg:rect class="stick-center" x="6" y="26" width="4" height="9"></svg:rect>
<svg:ellipse class="stick-center" cx="8" cy="35" rx="2" ry="1"></svg:ellipse>

<svg:rect class="box-center" x="6" y="12" width="4" height="15"></svg:rect>
<svg:polygon
    class="box-left"
    points="0 6, 8 6, 8 13, 6 12, 6 27, 2 25, 2 10, 0 9"
></svg:polygon>
<svg:polygon
    class="box-right"
    points="8 6, 16 6, 16 9, 14 10, 14 25, 10 27, 10 12, 8 13"
></svg:polygon>
<svg:polygon class="box-top" points="0 6, 8 2, 16 6, 8 10"></svg:polygon>

<svg:rect class="stick-center" x="6" y="1" width="4" height="5"></svg:rect>
<svg:ellipse class="stick-center" cx="8" cy="6" rx="2" ry="1"></svg:ellipse>
<svg:ellipse class="stick-top" cx="8" cy="1" rx="2" ry="1"></svg:ellipse>
