<svg:rect
    x="6"
    y="26"
    width="4"
    height="9"
    [attr.fill]="color | darken: 0.1"
></svg:rect>
<svg:ellipse
    cx="8"
    cy="35"
    rx="2"
    ry="1"
    [attr.fill]="color | darken: 0.1"
></svg:ellipse>

<svg:rect x="6" y="12" width="4" height="15" [attr.fill]="color"></svg:rect>
<svg:polygon
    points="0 6, 8 6, 8 13, 6 12, 6 27, 2 25, 2 10, 0 9"
    [attr.fill]="color | lighten: 0.16"
></svg:polygon>
<svg:polygon
    points="8 6, 16 6, 16 9, 14 10, 14 25, 10 27, 10 12, 8 13"
    [attr.fill]="color | darken: 0.16"
></svg:polygon>
<svg:polygon
    points="0 6, 8 2, 16 6, 8 10"
    [attr.fill]="color | lighten: 0.3"
></svg:polygon>

<svg:rect
    x="6"
    y="1"
    width="4"
    height="5"
    [attr.fill]="color | darken: 0.1"
></svg:rect>
<svg:ellipse
    cx="8"
    cy="6"
    rx="2"
    ry="1"
    [attr.fill]="color | darken: 0.1"
></svg:ellipse>
<svg:ellipse
    cx="8"
    cy="1"
    rx="2"
    ry="1"
    [attr.fill]="color | lighten: 0.3 | darken: 0.1"
></svg:ellipse>
