%Heading {
    & {
        @extend %Block;
        @extend %BrandColor;

        font-weight: inherit;
        scroll-margin-top: $step;
    }

    &:target {
        outline: 5px solid $brandColor;
        background-color: $brandColor;
        color: white;
    }
}
