<div class="wrapper">
    <gm-map class="map" [(gmZoom)]="mapZoom" [(gmCenter)]="mapCenter">
        <svg
            *ngFor="let box of boxes"
            [srdBoxMarker]="box"
            [srdBoxMarkerColor]="getBoxColor(box)"
        ></svg>
        <div gmControl="LEFT_BOTTOM" class="count">
            <table>
                <tbody>
                    <tr *ngFor="let district of districts">
                        <th>{{ district.name }}</th>
                        <td
                            *ngFor="let section of sections"
                            [style.backgroundColor]="section.color | lighten: 0.4"
                        >
                            {{ getBoxesCount(district, section) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </gm-map>
</div>
